@import "nosotros.css";

* {
	font-family: 'Roboto Slab', serif;
}

.header-info {
	background: rgb(0, 0, 0);
	padding: 20px;
	color: #a7a7a7;
	font-weight: 400;
}

.h-address {
	font-size: 14px;
}

#menu-nav {
	margin-top: 20px;
	color: rgb(255, 255, 255);
}

#menu-nav > li {
	padding-left: 1%;
	padding-right: 1%;
	text-align: left;
	text-transform: uppercase;
	font-size: 18px;
}

.intro-message > h1 {
	font-size: 3.5em;
}

.display-table {
	display: table;
	table-layout: fixed;
}

.display-cell {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

/*SOMOS*/
.h-somos {
	font-size: 6em;
	font-weight: 400;
	color: rgb(212, 114, 13);
}

.p-somos {
	font-size: 22px;
	font-weight: 400;
}

.s-resalta {
	color: rgb(213, 155, 12);
}

/*CONTACTO*/
.contacto {
	background: rgb(76, 76, 76);
}

.contacto h4 {
	color: rgb(255, 255, 255);
	font-weight: 400;
}

.contacto h1 {
	color: rgb(213, 114, 13);
	font-weight: 400;
	font-size: 4em;
}

.contacto h5 {
	color: rgb(255, 255, 255);
	font-weight: 400;
	font-size: 1.5em;
}

.contacto input, .contacto textarea {
	color: rgb(255, 255, 255);
	background-color: #727272;
	border: none;
	border-radius: 0;
	font-weight: 400;
}

.contacto input {
	height: 4em;
}

.contacto textarea {
	height: 19em;
}

.contacto input::-webkit-input-placeholder,
.contacto textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
	text-transform: uppercase;
	font-weight: 400;
}

.contacto input::-moz-placeholder { /* Firefox 19+ */
	color: white;
	text-transform: uppercase;
}

.contacto input:-ms-input-placeholder { /* IE 10+ */
	color: white;
	text-transform: uppercase;
}

.contacto input:-moz-placeholder { /* Firefox 18- */
	color: white;
	text-transform: uppercase;
}

.orange-text {
	color: rgba(213, 114, 13, 1);
}

.white-text {
	color: #ffffff;
}

.lightGray {
	background-color: rgba(51, 51, 51, 0.25);
}

.orangeBg {
	background-image: url('../img/banners/back_orange.png');
}

.light-brown-text {
	display: inline;
	color: rgb(244, 179, 111);
}

#menu-nav li a {
	text-decoration: none;
	color: #ffffff;
}

#menu-nav li a.selectedMenu {
	color: rgba(204, 110, 10, 1);
}

h1 > a {
	color: white;
	-webkit-transition: color 1s; /* Safari */
	transition: all 1s;
}

h1 > a:hover {
	color: rgba(204, 110, 10, 1);
	text-decoration: none;
	font-size: 40px;
}

ul#tutoriales > li > a {
	color: rgb(214, 116, 15);
	-webkit-transition: color .1s; /* Safari */
	transition: all .1s;
}

ul#tutoriales > li > a:hover {
	color: rgb(204, 194, 0);
	text-decoration: none;
	font-size: 28px;
}

#descargas > p > a {
	color: inherit;
}

#descargas > P > a:hover {
}

/*FOOTER*/
blockquote > footer {
	background-color: transparent;
}

footer {
	background-color: rgb(0, 0, 0);
	color: #757575;
	padding: 10px 0;
}

footer p {
	font-size: 18px;
	margin: 0;
}
